body {
  text-align: center;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Roboto", sans-serif;
  color: white;
}
.header {
  margin: 0 0 50px 0;
  font-size: 25px;
}
.header h1 {
  margin: 0;
}
.name {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
button {
  font-size: 18px;
  background-color: rgba(3, 97, 238, 0.5);
  color: rgb(255, 255, 255);
  margin: 5px;
  border: none;
  outline: none;
}
#name {
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
  text-align: center;
}
#name:focus {
  border: 2px solid white;
}
label {
  font-size: larger;
}
button {
  padding: 8px 20px;
  cursor: pointer;
  border: 2px solid black;
}
button:active {
  background-color: white;
  color: rgba(3, 97, 238, 1);
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1110px) {
  .game {
    flex-direction: column;
  }
  .board {
    margin: 35px 0;
  }
}
.board {
  display: flex;
  flex-flow: row wrap;
  height: 540px;
  width: 540px;
  background-color: rgba(3, 97, 238, 0.5);
}
.cell {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.842);
  margin: 1px;
  align-items: center;
  justify-content: center;
}
.turn {
  color: white;
  font-size: 40px;
  padding: 1rem;
  border-radius: 6px;
  background-color: rgba(3, 97, 238, 0.5);
  border: 1px solid black;
}
.has-ship {
  background-color: aliceblue;
}
.cpu:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.is-shot {
  background-color: red;
  cursor: not-allowed !important;
}
.footer {
  height: 40px;
  background-color: rgba(3, 97, 238, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-height: 870px) {
  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
}
.winner-text {
  font-size: 30px;
}
.winner-text span {
  font-weight: bold;
}
